<%= form_with(model: country) do |form| %>

  <div class="col-md-8">
    <div class='mb3'>
        <%= form.label :name, class:"form-label" %>
      <div class='row'>
        <div class='col'>
          <%= form.text_field :name, class:"form-control" %>
        </div>
      </div>
    </div>

    <div class='mb3'>
        <%= form.label :iso_a3, class:"form-label" %>
      <div class='row'>
        <div class='col'>
          <%= form.text_field :iso_a3, class:"form-control" %>
        </div>
      </div>
    </div>

    <div class='mb3'>
        <%= form.label :geojson, class:"form-label" %>
      <div class='row'>
        <div class='col'>
          <%= form.text_area :geojson, class:"form-control" %>
        </div>
      </div>
    </div>

    <% if country.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

        <ul>
          <% country.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb3">
      <div class="actions">
        <%= form.submit 'Sumbit', class: "btn btn-warning" %>
      </div>
    </div>
  </div>
<% end %>
