<p id="notice"><%= notice %></p>

<h3>Countries</h3>


<div id="mapid">
</div>

<table class="table">
  <thead  class="table-dark">
    <tr>
      <th>Name</th>
      <th>Population</th>
      <th>GDP</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.pop_est %></td>
        <td><%= country.gdp_md_est %></td>
        <td><%= link_to 'Show', country, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_country_path(country), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', country, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', home_index_path, class: "btn btn-primary" %>
<%= link_to 'New Country', new_country_path, class: "btn btn-secondary" %>
